@import "./styleVariables";
.searchBar{
    video{
        width: 100%;
        height: 100%;
        position: relative;
        
    }
    .title{
    position: absolute;
    top: 0;
    left: 0;
    margin: 20%;
}

}