// set all sass variables and fonts here
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
$font : 'Roboto Condensed', sans-serif;
$mainColor: whitesmoke;
$secondryColor:#5a0d0d;
$thirdColor:gold;